.table-condensed .glyphicon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-arrow-left:before {
	content: "\f060";
}

.glyphicon-arrow-right:before {
	content: "\f061";
}